#root {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



